/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}
/* End of CSS reset  */

:root {
  --bright_orange: hsl(31, 77%, 52%);
  --dark_cyan: hsl(184, 100%, 22%);
  --very_dark_cyan: hsl(179, 100%, 13%);
  --transparent_white: hsla(0, 0%, 100%, 0.75); /*for parapgrahs*/
  --very_light_gray: hsl(0, 0%, 95%); /*background, heading, button*/
}

body {
  font-size: 0.94rem;
  min-height: 100vh;
  padding: 5.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* h1 for screenreader only  */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  border-radius: 0.5rem;
  overflow: hidden;
}

.panel {
  max-width: 20rem;
  padding: 3.1rem;
}

.header_title {
  margin-top: 2.6rem;
  font-family: Big Shoulders Display, sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--very_light_gray);
}

.content {
  margin-top: 2.5rem;
  color: var(--transparent_white);
  line-height: 1.3rem;
  font-family: Lexend Deca, sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}

.btn {
  background-color: var(--very_light_gray);
  display: inline-block;
  text-decoration: none;
  font-family: Lexend Deca, sans-serif;
  border-radius: 3rem;
  padding: 1.1rem 2.1rem;
  font-weight: 700;
  margin-top: 2rem;
}

.sedan a {
  color: var(--bright_orange);
}

.suv a {
  color: var(--dark_cyan);
}

.luxury a {
  color: var(--very_dark_cyan);
}

.sedan {
  background-color: var(--bright_orange);
}

.suv {
  background-color: var(--dark_cyan);
}

.luxury {
  background-color: var(--very_dark_cyan);
}

.attribution {
  font-size: 0.68rem;
  text-align: center;
  margin-top: 1rem;
}

.attribution a {
  color: var(--dark_cyan);
  text-decoration: none;
}

@media only screen and (min-width: 61rem) {
  .container {
    display: flex;
    max-width: 57rem;
  }

  .btn {
    margin-top: 5.5rem;
    /* added this border to stop buttons from moving on hover  */
    border: 2px solid transparent;
  }

  .btn:hover,
  .btn:focus {
    background-color: transparent;
    color: var(--transparent_white);
    border: 2px solid var(--transparent_white);
  }

  .attribution {
    font-size: 0.8rem;
  }
}
